<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN Page</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
            <div class="auth-container">
            <div class="auth-card">

                <h2>Welcome Back</h2>
                <p class="auth-subtitle">Login to continue</p>

                <form>
                    <label>Username</label>
                    <input type="text" placeholder="Enter username">

                    <label>Password</label>
                    <input type="password" placeholder="Enter password">

                    <div class="auth-options">
                        <label class="remember">
                            <input type="checkbox" > 
                            Remember me
                        </label>
                        <a href="#" class="forgot">Forgot password?</a>
                    </div>

                    <button class="btn-primary full-width">
                        Login
                    </button>
                </form>

                <p class="auth-footer">
                    Don't have an account?
                    <a href="signup.html">Sign up</a>
                </p>

            </div>
        </div>
    </body>
</html>